
@{
    Layout = null;
}

<section id="subscribe">
    <div class="subscribe-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscribe-area">
                        <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                            <img src="~/Content/images/4_mevsim_logo-1-e1436410013100.png" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>