
@{
    Layout = null;
}

<section id="subscribe">
    <div class="subscribe-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscribe-area">
                        <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                            <a href="@Url.Action("Index","Home")"><img src="~/Content/images/4_mevsim_logo_png2.png" width=300px; height=auto; /> </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>