
@{
    Layout = null;
}

<div class="row">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-archive-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-archive-left">
                            <div class="col-md-2">
                                <div class="circle">
                                    <img src="~/Content/images/jaluzi.png" style="height: 75px;width: 50%;margin: -40px 20px 200px 42px;" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <img src="~/Content/images/sinek.png" style="height: 75px;width: 50%;margin: -40px 20px 200px 42px;" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <img src="~/Content/images/sinek.png" style="height: 75px;width: 50%;margin: -40px 20px 200px 42px;" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <img src="~/Content/images/sinek.png" style="height: 75px;width: 50%;margin: -40px 20px 200px 42px;" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <img src="~/Content/images/sinek.png" style="height: 75px;width: 50%;margin: -40px 20px 200px 42px;" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <img src="~/Content/images/sinek.png" style="height: 75px;width: 50%;margin: -40px 20px 200px 42px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-1"></div>*@
            </div>
        </div>
    </div>
</div>

