
@{
    Layout = null;
}

<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-archive-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-archive-left">
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="circle">
                                        <img src="~/Content/images/jaluzi.png" class="vectorboyut" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="circle">
                                        <img src="~/Content/images/sinek.png" class="vectorboyut" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="circle">
                                        <img src="~/Content/images/sinek.png" class="vectorboyut" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="circle">
                                        <img src="~/Content/images/sinek.png" class="vectorboyut" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="circle">
                                        <img src="~/Content/images/sinek.png" class="vectorboyut" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="circle">
                                        <img src="~/Content/images/sinek.png" class="vectorboyut" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-1"></div>*@
                </div>
            </div>
        </div>
    </div>
</section>

