
@{
    Layout = null;
}

<section id="latest-news">
    <div class="container wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-archive-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-archive-left">
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <div class="circle">
                                        <img src="~/Content/images/jaluzi.png" class="vectorboyut" />
                                    </div>
                                    <div style="text-align:center">PANJUR</div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <div class="circle">
                                        <img src="~/Content/images/kapi.png" class="vectorboyut" />
                                    </div>
                                    <div style="text-align:center">KAPI</div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <div class="circle">
                                        <img src="~/Content/images/korkuluk.png" class="vectorboyut" />
                                    </div>
                                    <div style="text-align:center">KORKULUK</div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <div class="circle">
                                        <img src="~/Content/images/cam.png" class="vectorboyut" />
                                    </div>
                                    <div style="text-align:center">CAM</div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <div class="circle">
                                        <img src="~/Content/images/fly.png" class="vectorboyut" />
                                    </div>
                                    <div style="text-align:center">SİNEKLİK</div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <div class="circle">
                                        <img src="~/Content/images/parke.png" class="vectorboyut" />
                                    </div>
                                    <div style="text-align:center">PARKE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-1"></div>*@
                </div>
            </div>
        </div>
    </div>
</section>

