
@{
    Layout = null;
}
<!-- Start slider -->
<section id="slider">
    <div class="main-slider">
        <div class="single-slide">
            <img src="~/Content/images/slider-kapi.jpg" />
            <div class="slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="slide-article">
                                <h1 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">Çelik Kapı - Oda Kapısı</h1>
                                <p class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                                <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="@Url.Action("Kapi","Home")">Daha Fazla</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="slider-img wow fadeInUp">
                                <img src="~/Content/images/4_mevsim_logo-1-e1436410013100.png" alt="4mevsim">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <img src="~/Content/images/slider-deneme.jpg" />
            <div class="slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="slide-article">
                                <h1 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">4 Mevsim Yapı Slayt 2</h1>
                                <p class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                                <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Daha Fazla</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="slider-img wow fadeInUp">
                                <img src="~/Content/images/4_mevsim_logo-1-e1436410013100.png" alt="4mevsim">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End slider -->


