<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-archive-area">
                    <div class="col-md-6">
                        <div class="blog-news-img">
                            <img src="~/Content/images/banyodolabi-vitrifiye.png" width="200px"; height="auto"; />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-news-title">
                            <h2>Katlanır Cam Sistemleri</h2>
                        </div>
                        <div class="blog-news-details blog-single-details">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the

                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                            </p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section id="latest-news">
    <div class="container">
        <div class="row">
                <div class="latest-news-content">
                    <div class="row">
                        <!-- start single latest news -->
                        <div class="col-md-6">
                            <img src="~/Content/images/banyodolabi-vitrifiye.png" style="width:auto;" alt="image">
                        </div>
                        <div class="col-md-6">
                            <div class="title-area" style="margin-top: 10px;margin-left:-30px;">
                                <h2 class="title">Ürün Detay</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. 
                            Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
                            <ul class="project-info">
                                <li><h6>Date:</h6> 09/12/15</li>
                                <li><h6>Client:</h6> John Doe, Inc.</li>
                                <li><h6>Services:</h6> Design, Illustration</li>
                                <li><h6>Art Director:</h6> Jane Doe</li>
                                <li><h6>Designer:</h6> Jimmy Doe</li>
                            </ul>
                     </div>
                </div>
            </div>
        </div>
</section>*@

<!-- Footer kaymasın diye yapılmış boşluk -->

<!-- Footer kaymasın diye yapılmış boşluk -->
