<!-- Start blog archive -->
<section id="blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-archive-area">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-archive-left">
                                <article class="urun-kalip">
                                    <div class="urun-img">
                                        <img src="~/Content/images/banyodolabi-vitrifiye.png" alt="image">
                                    </div>
                                    <div class="urun-title">
                                        <h2>Duşakabin</h2>
                                        <p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>
                                    </div>
                                    <div class="urun-details blog-single-details">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>

                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of <a href="#">text</a></p>
                                        <blockquote>
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from</p>
                                            <span> - John Doe</span>
                                        </blockquote>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                                        <ul>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                        </ul>
                                        <ol>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                            <li>There are many variations of passages of Lorem Ipsum</li>
                                        </ol>
                                        <h1>This is H1 Title Example</h1>
                                        <h2>This is H2 Title Example</h2>
                                        <h3>This is H3 Title Example</h3>
                                        <h4>This is H4 Title Example</h4>
                                        <h5>This is H5 Title Example</h5>
                                        <h6>This is H6 Title Example</h6>
                                        
                                    </div>

                                </article>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <aside class="blog-side-bar">
                                <!-- Start sidebar widget -->
                                <div class="sidebar-widget">
                                    <h4 class="widget-title">Diğer Çeşitler</h4>
                                    <ul class="widget-catg">
                                        <li><a href="/Home/Urun">Duşakabin</a></li>
                                        <li><a href="/Home/Urun">Vitrifiye</a></li>
                                        <li><a href="/Home/Urun">Banyo Dolabı</a></li>
                                        <li><a href="/Home/Urun">Cam Sistemleri</a></li>
                                    </ul>
                                </div>
                                <!-- Start sidebar widget -->
                                @*<div class="sidebar-widget">
                                    <h4 class="widget-title">Text Widget</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>*@

                                <!-- Start sidebar widget -->
                                <div class="sidebar-widget">
                                    <h4 class="widget-title">Diğer Ürünler</h4>
                                    <div class="tag-cloud">
                                        <a href="/Home/CamSistemleri">Cam Sistemleri</a>
                                        <a href="/Home/LaminantParke">Laminant Parke</a>
                                        <a href="/Home/Sineklik">Sineklik</a>
                                        <a href="/Home/Kapi">Çelik Kapı</a>
                                        <a href="/Home/Dolap">Mutfak Dolabı</a>
                                        <a href="/Home/Dusakabin">Duşakabin-Vitrifiye</a>
                                        <a href="/Home/Panjur">Garaj-Panjur</a>
                                    </div>
                                </div>

                                <!-- Start sidebar widget -->
                                @*<div class="sidebar-widget">
                                    <h4 class="widget-title">Archive</h4>
                                    <ul class="widget-archive">
                                        <li><a href="#">November 2015<span>(35)</span></a></li>
                                        <li><a href="#">October 2015<span>(55)</span></a></li>
                                        <li><a href="#">September 2015<span>(65)</span></a></li>
                                        <li><a href="#">August 2015<span>(75)</span></a></li>
                                        <li><a href="#">July 2015<span>(105)</span></a></li>
                                    </ul>
                                </div>*@

                                <!-- Start sidebar widget -->
                                @*<div class="sidebar-widget">
                                    <h4 class="widget-title">Important Links</h4>
                                    <ul>
                                        <li><a href="#">Link 1</a></li>
                                        <li><a href="#">Link 2</a></li>
                                        <li><a href="#">Link 3</a></li>
                                        <li><a href="#">Link 4</a></li>
                                    </ul>
                                </div>*@

                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer kaymasın diye yapılmış boşluk -->

<!-- Footer kaymasın diye yapılmış boşluk -->
