

<!-- Start blog archive -->
<section id="blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-archive-area">
                    <div class="row">
                        @*<div class="col-md-1"></div>*@
                        <div class="col-md-12">
                            <div class="blog-archive-left">
                                <!-- Start blog news single -->
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="blog-single-with-right-sidebar.html"><img src="~/Content/images/blog-img-1.jpg" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="blog-single-with-right-sidebar.html">All about writing story</a></h2>
                                        <p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                                    </div>
                                </article>

                                <!-- Start blog news single -->
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="blog-single-with-right-sidebar.html"><img src="assets/images/blog-img-2.jpg" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="blog-single-with-right-sidebar.html">All about writing story</a></h2>
                                        <p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                                    </div>
                                </article>
                                <!-- Start blog news single -->
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="blog-single-with-right-sidebar.html"><img src="assets/images/blog-img-3.jpg" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="blog-single-with-right-sidebar.html">All about writing story</a></h2>
                                        <p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                                    </div>
                                </article>
                                
                                        

                                        <!-- Start blog pagination -->
                                        <div class="blog-pagination">
                                            <ul class="pagination-nav">
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">6</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                
                                
                                
                            </div>
                        </div>
                        @*<div class="col-md-1"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End blog archive -->
