@{Html.RenderAction("_SinglePageHeader", "Home");}

<!-- Start blog archive -->
<section id="blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-archive-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-archive-left">
                                <!-- Start blog news single -->
                                <article class="blog-news-urun">
                                    <div>
                                        <a href="blog-single-with-right-sidebar.html"><img src="~/Content/images/camsistemleri.png" alt="camsistemleri" style="float:left;width:650px;height:220px;margin-top: 10px;"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <br /><br /><br />
                                        <h2><a href="@Url.Action("Urun","Home")">Cam Sistemleri</a></h2>
                                        <p><a class="blog-author" href="#">Katlanır</a> <span class="blog-date">|</span> <a class="blog-author" href="#">Sürme</a></p>
                                    </div>
                                    <div class="blog-news-title">
                                        <p>Tüm katlanır ve sürgülü cam sistemleri burada.</p>
                                    </div>
                                </article>
                                <!-- Start blog news single -->
                                <article class="blog-news-urun">
                                    <div>
                                        <a href="blog-single-with-right-sidebar.html"><img src="~/Content/images/celikkapi-odakapisi.png" alt="kapilar" style="float:left;width:650px;height:220px;margin-top: 10px;"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <br /><br /><br />
                                        <h2><a href="blog-single-with-right-sidebar.html">Kapılar</a></h2>
                                        <p><a class="blog-author" href="#">Çelik Kapı</a> <span class="blog-date">|</span> <a class="blog-author" href="#">Oda Kapısı</a></p>
                                    </div>
                                    <div class="blog-news-title">
                                        <p>Tüm kapı çeşitleri burada.</p>
                                    </div>
                                </article>
                                <div class="row">
                                </div>
                                <!-- Start blog news single -->
                                <article class="blog-news-urun">
                                    <div>
                                        <a href="blog-single-with-right-sidebar.html"><img src="~/Content/images/laminatparke.png" alt="parke" style="float:left;width:650px;height:220px;margin-top: 10px;"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <br /><br /><br />
                                        <h2><a href="blog-single-with-right-sidebar.html">Laminant Parke</a></h2>
                                        <p><a class="blog-author" href="#">Laminant Parke</a></p>
                                    </div>
                                    <div class="blog-news-title">
                                        <p>Tüm laminant parke çeşitleri burada.</p>
                                    </div>
                                </article>
                                <div class="row">
                                </div>
                                <!-- Start blog news single -->
                                <article class="blog-news-urun">
                                    <div>
                                        <a href="blog-single-with-right-sidebar.html"><img src="~/Content/images/mutfakdolabi.png" alt="mutfakdolabi" style="float:left;width:650px;height:220px;margin-top: 10px;"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <br /><br /><br />
                                        <h2><a href="blog-single-with-right-sidebar.html">Dolaplar</a></h2>
                                        <p><a class="blog-author" href="#">Mutfak Dolabı</a></p>
                                    </div>
                                    <div class="blog-news-title">
                                        <p>Tüm mutfak dolabı çeşitleri burada.</p>
                                    </div>
                                </article>
                                <div class="row">
                                </div>
                                        <!-- Start blog pagination -->
                                        <div class="blog-pagination">
                                            <ul class="pagination-nav">
                                                <li><a href="Urunler">1</a></li>
                                                <li><a href="Urunler/2">2</a></li>
                                                <li><a href="3">3</a></li>
                                                <li><a href="4">4</a></li>
                                                <li><a href="5">5</a></li>
                                                <li><a href="6">6</a></li>
                                            </ul>
                                        </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12" VertialAllign="Down">
                                        <nav aria-label="Page navigation">
                                            <div class="text-center">
                                                @*@Html.PagedListPager(Model, page => Url.Action("Sirala", new { page, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.Classic)*@
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                                    </div>
                            </div>
                        </div>
                        @*<div class="col-md-1"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End blog archive -->
